.App {
  text-align: center;
}

.App article{
  display: flex;
  flex-direction: column;
}


.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App article article{
  margin: auto;
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.App article article .Konyv{
  margin: 10px;
}

footer{
  min-height: 10vh
}


